<template>
   <div class="row">
        <div class=" container-fluid col-md-12 col-sm-12">
            <div class="sidebar-header">
                <div class = "Logo pt-5 pb-5"> 

                    <div class="logo"></div>
                    <img src="../assets/icon.png" class = "img-fluid " alt="" id="logo">

            </div>
            </div>

            <ul class="col" >
                <li><a href="#" class = "col1" id="upload-music" 
                   >Upload Music</a></li>
                
              
                <li><a href="#" >All Music</a></li>

            </ul> 
           
            <ul class="col">
                <li><a href="#" class = "col2" id="upload-music" 
                    data-bs-toggle="modal" data-bs-target="#createPlaylistModal">Create Playlist</a></li>
            </ul>
            <ul class="col">
                <li>
                  <a href="#" class = "col3">Playlist 1</a>
                </li>
                
                <li>
                  <a href="#">Playlist</a>
                </li>

                <li>
                  <a href="#">Playlist</a>
                  </li>

                <li>
                  <a href="#">Playlist</a>
                  </li>

            </ul>

       </div>                     
    </div>

    <div id="uploadMusicModal" class="upload-music-modal modal" role="dialog">
        <div class="upload-music-dialog modal-dialog modal-dialog-centered">
          
            <div class="upload-content modal-content">

                <div class="upload-header modal-header">
                    <p class="upload-title modal-title">Upload Music</p>
                </div>

                <div class="upload-body modal-body">
                    <div class="box-body p-4 text-center" >
                        <label>Drag and Drop files here</label>
                    </div> 
                    
                </div>

                <div class="upload-footer modal-footer">
                    <button class="btn-upload" data-dismiss="modal">Upload</button>
                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                </div>

            </div>

        </div>
    </div>

<div id="createPlaylistModal" class="create-playlist-modal modal" role="dialog">
        <div class="create-playlist-dialog modal-dialog modal-dialog-centered">
          
            <div class="playlist-content modal-content">

                <div class="playlist-header modal-header">
                    <p class="playlist-title modal-title">Create Playlist</p>
                </div>

                <div class="playlist-body modal-body">
                    <input type="text" class="playlist-input form-control">
                </div>

                <div class="playlist-footer modal-footer">
                    <button class="btn-create" data-dismiss="modal">Create</button>
                    <button class="btn-cancel" data-dismiss="modal">Cancel</button>
                </div>

            </div>

        </div>
    </div>


</template>

<script>
export default {
  name: 'musicplayer',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
  margin-left: 65px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
 margin-left: 10px;
}
a {
  color: #42b983;
}

img{
  height: 40px;
  width: 140px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 40px

}
#createPlaylistModal .playlist-header{
    background-color: #A59B9B;
    
}
#createPlaylistModal .playlist-body{
    background-color: #A59B9B;
    
}
#createPlaylistModal .playlist-footer{
    background-color: #A59B9B;
    
}
#uploadMusicModal .upload-header{
    background-color: #6D6262;
    
}

#uploadMusicModal .upload-body{
    background-color: #6D6262;
    
}
#uploadMusicModal .upload-footer{
    background-color: #6D6262;
    
}
#uploadMusicModal .upload-body .box-body{
    background-color: #C4C4C4;
    
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: white;
}
.list-group-item{
    position: relative;
    display: block;
    padding: .75rem .25rem;
    margin-bottom: -1px;
    background-color: #c98a8a;
    border: none;
}
.list-group{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

</style>
