<template>
    <div class = "boxContainer p-5">
        <table class ="elementsContainer">
              <tr>
                <td>
                    <input type="text" placeholder="Search" class="search">
  
                </td>
            
              </tr>

            </table>
    </div>

             <h1> All Songs</h1>
    

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Album</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Pagsamo</td>
      <td>Arthur Nery</td>
      <td>Single</td>
      <td>4:51</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Woman</td>
      <td>Doja Cat</td>
      <td>Planet Her(2021)</td>
      <td>2:53</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="1">Love Songs</td>
      <td>Kaash Paige</td>
      <td>Single</td>
      <td>3:09</td>
    </tr>
  </tbody>
</table>
    
   <img src = "../assets/PLAYBUTTON.png"> 

</template>

<script>
export default{
 name: 'search',
 props:{
 msg: String
}
}
</script>

<style scoped>
.table{
    width: 78vw;
}
.table thead th {
  text-align: center;
  background: #DE9B9B;
  border-top: 1px solid #AF8383;
}
.table tbody {
  text-align: center;
  background: #DE9B9B;
}
.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #AF8383;
}
.table tbody {
color: white;
}
.table thead {
color: white;
}
.btn-info {
    color: #343a40;
    background-color: #b8c9a1;
}
#content img{
    padding: 40px;
    margin-left: 300px;
    padding-top: 15px;
}
img, svg{
    padding: 20px;
    margin-left: 200px;
    margin-top: 70px;
}
.p-5{
    padding: 1rem!important;
}
h1{
  color: white;
}
</style>