<template>
  <div class="app-container" id ='sample'>
       <nav class ="navbar navbar-expand-lg navbar-light" id="sidebar">
         <div class = "container-fluid">
                
                <musicplayer />
         </div>
    </nav>
    <div class = 'content'>
      <div class = 'container-fluid p-5'>
    <search />
      </div>
    </div>
  </div>
</template>

<script>
import musicplayer from './components/musicplayer.vue'
import search from './components/search.vue'

export default {
  name: 'App',
  components: {
    musicplayer,
    search
  }
}
</script>

<style>
#app {
  width: 100%;
  overflow: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  color: #c15959;
  display: flex;
  background-color: #b8c9a1;
}
img[data-v-088c0c66]{
  height: 100px;
  width: 100px;
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: -240px;
}
#sidebar .sidebar-header{
	padding: 20px;
	background: #C98A8A;
  height: 0px;
  margin-bottom: 50px;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}


#sidebar {
  background-color: #c98a8a;
  width: 200px;
  display: flex;

  
  }

#sidebar ul li a {
  padding: 4px;
  font-size: 1.1em;
  display: block;
  color: rgb(255, 255, 255);
  
}

#sidebar ul li {
  text-align: left;
}


a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#Logo {
  margin-bottom: 50px;
  margin-left: 20px;
}
#sample {
  display:flex;
}
#sample > *:nth-child(1){
  flex:1 1 30;
}
#sample > *:nth-child(2){
  flex:1 1 70;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}
.navbar {
  position:relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8.5rem;
}
@media (min-width: 900px){
    #navside{
        display: none;
    }
}
@media (max-width: 768px) {
    #app {
  width: 100%;
  overflow: hidden;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: justify;
  color: #c15959;
  display: flex;
  background-color: #b8c9a1;
}
    #sidebar {
        margin-left: -250px;
    }
    .col-md-12{
      flex: 0 0 auto;
      width: 100%;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #content img{
    width: 100px;
    padding: 1px;
    margin-left: 80px;
    padding-top: 40px;
}
img[data-v-4ad41bb8] {
  width: 400px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 70px;
}
.table td[data-v-4ad41bb8]{

}

    .table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #AF8383;
}
table{
  caption-side: bottom;
  border-collapse: collapse;
  margin-left: 40px;
}
h1[data-v-4ad41bb8]{
  margin-left: 40px;
  color: white;
}
}
</style>
