body{
	font-family: 'Ruluko', sans-serif;
	background: #fafafa;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: white;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/
#sidebar img {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}


li{
    list-style: none;
}
.table thead th {
  background: #DE9B9B;
  border-top: 1px solid #AF8383;
}
.table tbody {
  background: #DE9B9B;
}
.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #AF8383;
}
.table tbody {
color: white;
}
.table thead {
color: white;
}



#content img{
    padding: 40px;
    margin-left: 200px;
    padding-top: -15px;
}
#content search{
    margin-top: 100px;
    padding: 10px;
}


#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #c98a8a;
	color: #fff;
	transition: all 0.3s;
}
.btn-info {
    color: #343a40;
    background-color: #b8c9a1;
}


#sidebar .sidebar-header{
	padding: 20px;
	background: #C98A8A;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 30px;
	font-size: 1.1em;
	display: block;
}
#sidebar ul li b{
	padding: 30px;
	font-size: 0.9em;
	display: block;
}
#sidebar ul li b:hover{
	color: #C98A8A;
	background: #fff;
}

#sidebar ul li a:hover{
	color: #C98A8A;
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #C98A8A;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #C98A8A;
}
h1{
    padding: 30px;
    margin-left: 1px;
    color: white;
}
.list-group-item{
    position: relative;
    display: block;
    padding: .75rem .25rem;
    margin-bottom: -1px;
    background-color: #c98a8a;
    border: none;
}
#createPlaylistModal .playlist-header{
    background-color: #A59B9B;
    
}
#createPlaylistModal .playlist-body{
    background-color: #A59B9B;
    
}
#createPlaylistModal .playlist-footer{
    background-color: #A59B9B;
    
}
#uploadMusicModal .upload-header{
    background-color: #6D6262;
    
}

#uploadMusicModal .upload-body{
    background-color: #6D6262;
    
}
#uploadMusicModal .upload-footer{
    background-color: #6D6262;
    
}
#uploadMusicModal .upload-body .box-body{
    background-color: #C4C4C4;
    
}
.img-fluid{
    max-width: 300%;
    height: 30px;
}
#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
    background: #B8C9A1;
}
.form-control {
    display: block;
    width: 300px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #717261;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (min-width: 768px){
    #navside{
        display: none;
    }
    
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #content img{
    width: 400px;
    padding: 10px;
    margin-left: 80px;
    padding-top: 40px;
}
    .table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #AF8383;
}

}







