body{
   margin: 0;
   padding: 0;
   font-family: Century Gothic;
    background-color: #695252;
    background-size: full;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;   
    margin-top: 100px;
    font-size: 25px;
    margin: 50px;
}

 ul li{
      display: inline;
}
 ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: 0.5s ease;
    text-shadow: 2px 2px #474141;
}
 ul li:hover{
     background-color: white;
     color: #fff;
}
ul le a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
    text-shadow: 1px 1px #474141;
}
le{
    position: absolute;
    left: 20%;
    list-style-type: none;   
    top: 500px;
    font-size: 15px;
    margin: 15px;
    
}
 ul le:hover{
     background-color: white;
     color: #fff;
}

ul lu a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
    text-shadow: 1px 1px #474141;
}
lu{
    position: absolute;
    left: 10%;
    list-style-type: none;   
    top: 500px;
    font-size: 20px;
    margin: 15px;
    
}
 ul lu:hover{
     background-color: white;
     color: #fff;
}

.logo img{
    float: left;
    width: 150px;
    height: auto; 
    margin: 0;
}


.rectangle img{
    position: absolute;
    top: 500px;
    left: 10%;
    width: 100px;
    height: inherit; 
    margin: 0;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 40px 40px 0 rgba(0, 0, 0, 0.19);
}
.rectangle1 img{
    position: absolute;
    opacity: 60%;
    top: 500px;
    left: 20%;
    width: 100px;
    height: inherit; 
    margin: 0;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 0.2), 0 40px 40px 0 rgba(0, 0, 0, 0.19);
}
    
.doggo img{
    position: absolute;
    height: 200px;
    top: 35%;
    left: 70%;
    width: 200px;
    right: 15%;
    box-shadow: 0 10px 12px 0 rgba(0, 0, 0, 1), 0 40px 40px 0 rgba(0, 0, 0, 1);
}

 .main{
      max-width: 1200px;
      margin: auto;
}
.title{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-40%,-40%);
}

.title h1{
     color: #611414;
     font-size: 50px;
     text-shadow: 4px 4px #474141;
}
.title h2{
     color: #611414;
     font-size: 50px;
     text-shadow: 4px 4px #474141;
}
.title h3{
     color: white;
     font-size: 25px;
     text-shadow: 2px 2px #474141;
     }


